.contato {
    background-color: var(--branco);
    padding: 1em;
}

.contato_texto, .contato_titulo {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contato_titulo {
    font-size: 18px;
    font-weight: 500;
}

.contato_texto {
    font-size: 16px;
    font-weight: 300;
    padding: 1em 0;
}

.contato_input_email {
    padding: 1em;
    border: 1px solid var(--azul-degrade);
    border-radius: 10px;
    width: 90%;
    color: var(--azul-degrade);
}

.contato_input_email::placeholder {
    font-family: var(--fonte-principal);
    color: var(--azul-degrade);
    background: url("../Imagens/email.svg") no-repeat;
    padding-left: 2em;
}

@media screen and (min-width:1000px) {
    .contato{
        display:flex;
        align-items:center; 
        justify-content:center;
        padding: 3em;
        gap: 0.6em;
    }

    .contato_titulo {
        font-size: 24px;
    }
    
    .contato_texto {
        font-size: 18px;
    }

    .contato_input_email {
        width: 100%;
        padding: 1em;
    }
}

@media screen and (min-width:1600px) {
    .contato {
        gap:1.3em;
    }

    .contato_titulo {
        font-size: 32px;
    }

    .contato_texto {
        font-size: 24px;
    }

    .contato_input_email::placeholder {
        font-size: 20px;
    }
}