.rodape {
    padding: 1em;
}

.rodape_titulo{
    font-size:16px;
}

.lista_rodape{
    display: none;
}

@media screen and (min-width:1000px) {
    .rodape{
        display: flex;
        justify-content: space-around;
        padding: 2em;
    }

    .lista_rodape {
        display: block;
    }

    .lista_rodape_titulo{
        font-size: 14px;
        color: var(--cinza);
    }

    .lista_rodape_link {
        font-size: 14px;
        color: var(--cinza-escuro);
        text-decoration: none;
        margin-left: 0.6em;
    }
    
    .lista_rodape_item{
        display: flex;
        align-items: center;
        margin: 0.6em 0; 
    }

    .rodape_titulo {
        font-size: 24px;
    }

}

@media screen and (min-width:1600px) {

    .rodape {
        padding: 3em 2em;
    }

    .lista_rodape {
        border-left: 1px solid var(--cinza-escuro);
        padding-left:1em;
    }

    .lista_rodape_titulo{
        font-size: 22px;
    }

    .lista_rodape_link {
        font-size: 18px;
        margin-left: 0.8em;
    }

    .rodape_titulo {
        font-size: 32px;
    }

    .lista_rodape_item{
        margin: 1em 0; 
    }

}