.tópicos {
    background: var(--azul-degrade);
    text-align: center;
    align-items: center;
    padding: 1em 0;
}

.tópicos_titulo {
    color: var(--branco);
    padding-bottom: 1em;
    text-align: center;
    font-weight: 300;
}

.tópicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos_itens{
    margin: 1em 0.5em;
}

.tópicos_links {
    color: var(--branco);
    padding: 1em 1.2em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width:1000px) {
    
    .tópicos_titulo, .tópicos_links {
        font-size: 24px;
    }

    .tópicos_lista {
        gap: .5em; 
    }

    .tópicos_titulo {
        padding-bottom: 2em;
    }

    .tópicos_links {
        text-decoration: none;
        padding: 0.6em 1em;
        margin-bottom: 2em ;
    }
    
}

@media screen and (min-width:1600px) {
     .tópicos {
        padding: 3em 25vw;
     }

    .tópicos_titulo {
        font-size: 34px;
    }

    .tópicos_lista {
        gap: .8em; 
    }

    .tópicos_links {
        font-size: 28px;  
    }
   
    .tópicos_titulo {
        padding-bottom: 1.6em;
    }
}
