.tópicos {
    background: var(--azul-degrade);
    text-align: center;
    align-items: center;
    padding: 1em 0;
}

.tópicos_titulo {
    color: var(--branco);
    padding-bottom: 1em;
    text-align: center;
    font-weight: 300;
}

.tópicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tópicos_itens{
    margin: 1em 0.5em;
}

.tópicos_links {
    color: var(--branco);
    padding: 1em 1.2em;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}

